#fotoCandidato {
    padding-right: 20px;
    border: thin solid;
    float: left;
    margin: 0px 10px 10px 0;
    width: 20%;
}

input {
    margin-bottom: 10px;
    border-radius: 20px;
    border-top-left-radius: 5px;
}

input[type=text]{
    background-color: aquamarine;
    color: red;
}

#botaoConfirmar {
    border-radius: 5px;
    border-width: 30px;
    color: green;
    
     }

#botaoCancelar {
    border-radius: 5px;
    border-width: 30px;
    color: rgb(180, 45, 45);

}     

#botaoBranco {
    border-radius: 5px;
    border-width: 30px;
    color: rgb(42, 16, 90);


}

legend {
    padding-left: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}
    
